#Django настройки
SECRET_KEY=Yey,eltnk.jtpyfxtybt_rjnjhjt_vj;tn,snmCtqfc
DEBUG=True
ALLOWED_HOSTS=*
TIME_ZONE=America/Adak
HASHID_FIELD_SALT=

#Проект настройки
APP_GUVICORN_HOST=0.0.0.0
TODO_GUVICORN_PORT=8000
BOT_GUVICORN_PORT=8050

#БД настройки
POSTGRES_DB=todo
POSTGRES_USER=postgres

POSTGRES_HOST=todo_db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

#Celery/Redis настройки
REDIS_HOST=todo_redis
REDIS_PORT=6379
REDIS_DB=0
CELERY_BROKER_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
CELERY_RESULT_BACKEND=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
CELERY_FLOWER_PORT=5555

#Telegram настройки
TELEGRAM_BOT_TOKEN=8356960332:AAGoWrcW7ZNUfe3ic89xzNxvq3X1cgWyfmw
TODO_SERVICE_NAME=
DJANGO_API_URL=http://${TODO_SERVICE_NAME}:${TODO_GUVICORN_PORT}
DJANGO_API_TIMEOUT=30
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Superuser
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
